@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(87, 87, 240);
  touch-action: none;
}
@media (max-width: 2560px) {
  body {
    font-size: 55px;
  }
}
@media (max-width: 1440px) {
  body {
    font-size: 25px;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 23px;
  }
}
@media (max-width: 793px) {
  body {
    font-size: 21px;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 19px;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 17px;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 280px) {
  body {
    font-size: 13px;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15em;
  padding: 0 1.5em;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 0.3em black;
  border-radius: 6px;
  height: 20em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  background-color: rgb(250, 250, 250);
  opacity: 0.9;
}
@media (max-width: 320px) {
  .container {
    padding: 0 1em;
  }
}
.container h1 {
  font-size: 1.3em;
  display: inline-block;
  height: 3em;
  pointer-events: none;
}
.container h1::after {
  content: "";
  background-image: url(https://www.citypng.com/public/uploads/preview/stack-of-yellow-gold-coins-hd-png-11639438716rhfxyincff.png);
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: cover;
  transform: translateY(10%);
}
.container .input {
  height: 4em;
}
.container .input span {
  font-size: 0.8em;
  pointer-events: none;
}
.container .input #numberInput {
  padding: 0.2em;
  width: 90%;
  text-align: center;
  margin-top: 0.5em;
  border-radius: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  -moz-appearance: textfield;
}
.container .input input::-webkit-outer-spin-button,
.container .input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.container .configs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 1.5em;
}
.container .configs .from span {
  font-size: 0.8em;
  pointer-events: none;
}
.container .configs .from select {
  padding: 0.2em;
  transform: translateY(-8%);
  height: 2em;
}
@media (max-width: 2560px) {
  .container .configs .from select {
    font-size: 0.5em;
  }
}
.container .configs i {
  transform: translateY(8%);
  margin: 0 0.3em;
}
.container .configs i:hover {
  cursor: pointer;
}
.container .configs .to span {
  font-size: 0.8em;
  pointer-events: none;
}
.container .configs .to select {
  padding: 0.2em;
  transform: translateY(-8%);
  height: 2em;
}
@media (max-width: 2560px) {
  .container .configs .to select {
    font-size: 0.5em;
  }
}
.container #conversionOutput {
  height: 3em;
  font-size: 0.6em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container #conversionOutput .gitHubIcon {
  text-decoration: none;
  color: rgb(80, 80, 80);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  margin: 0 auto;
  font-size: 1em;
}
.container #conversionOutput .gitHubIcon:hover {
  text-shadow: 0 0 0.4px rgb(30, 30, 30);
}
.container #conversionOutput .loadingGif {
  width: 2em;
  display: block;
  margin: 0 auto;
  display: none;
}
.container #convertBtn {
  width: 70%;
  height: 8%;
  font-size: 0.6em;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  background-color: rgb(87, 87, 240);
  color: rgb(250, 250, 250);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */