@import 'base.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15em;
    padding: 0 1.5em;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 0.3em black;
    border-radius: 6px;
    height: 20em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    background-color: rgb(250, 250, 250);

    h1 {
        font-size: 1.3em;
        display: inline-block;
        height: 3em;
    }

    .input {
        //border: 1px solid black;
        height: 4em;

        span {
            font-size: 0.8em;
        }

        #numberInput {
            padding: 0.2em;
            width: 8em;
            text-align: center;
            margin-top: 0.5em;
            border-radius: 10px;
            outline: none;
            font-family: 'Poppins', sans-serif;
            font-size: 0.8em;
            -moz-appearance: textfield;
        }
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    
    .configs {
        //border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 1.5em;

        .from {
            span {
                font-size: 0.8em;
            }

            select {
                padding: 0.2em;
                transform: translateY(-8%);
            }
        }

        i {
            transform: translateY(8%);

            &:hover {
                cursor: pointer;
            }
        }

        .to {
            span {
                font-size: 0.8em;
            }

            select {
                padding: 0.2em;
                transform: translateY(-8%);
            }
        }
    }

    #conversionOutput {
        height: 3em;
        font-size: 0.6em;
        //border: 1px solid black;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .gitHubIcon {
            text-decoration: none;
            color: rgb(80, 80, 80);
            width: fit-content;
            display: inline-block;
            margin: 0 auto;
            font-size: 0.9em;
        }

        .loadingGif {
            width: 2em;
            display: block;
            margin: 0 auto;
            display: none;
        }
    }

    #convertBtn {
        width: 15em;
        height: 3em;
        margin: 0 auto;
        border: none;
        border-radius: 20px;
        background-color: rgb(87, 87, 240);
        color: rgb(250, 250, 250);
        cursor: pointer;
    }
}